.container {
  text-align: center;
  margin: 30px auto 5px auto;
  padding: 20px;
  max-width: 600px;
  font-family: "Averia Libre", cursive;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border: white solid 1px;
  border-radius: 5px;
}

.search {
  --bs-gutter-x: 0.5rem;
}

input {
  display: inline;
}

.form-control {
  border: 1px solid black;
  padding: 0 auto;
}

.btn-primary {
  background: white;
  color: Black;
  border-color: black;
  transition: all 100ms ease-in-out;
  padding: 0 auto;
}

.btn-primary:hover {
  background: black;
  color: white;
  border-color: black;
}

#City {
  padding-left: 8px;
  margin: 20px auto 5px auto;
  text-align: left;
  font-size: 30px;
}

#temp {
  font-size: 90px;
  margin-bottom: 0;
  display: inline;
}

.unit-element {
  position: relative; 
  top: -41px;
}

.unit-links {
  font-size: 25px;
}

a {
  color: black;
}

.main .active {
  color: white;
cursor: default;
text-decoration: none;
}

.main .active:hover {
  text-decoration: none;
}

#weather-icon {
  width: 80px;
  position: relative;
top: -28px;
}


.further-information {
  text-align: left;
  padding-left: 0px;
  margin-top: 35px;
}
.further-information::first-letter{
  text-transform: capitalize;
}

.further-information p {
  margin: 0;
}

.forecastWrapper {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  font-size: 18px;
  margin: 10px;
  text-align:center;
}

#forecastHours {
  font-size: 20px;
}

#forecastIcons img {
  width: 70px;
}

#forecastTemperatures {
  font-size: 18px;
}

.update {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
  font-size: 12px;
}

footer,
#github-link {
  color: grey;
  text-align: center;
  margin-top: 0px;
  font-size: 15px;
}
